
:root{
    --blue-srtong: #0F3057;
    --blue-main: #00587A;
    --turquoise: #008891;
    --gray: #E7E7DE;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto-v27-latin-900.woff2') format('woff2'),
        url('../assets/fonts/roboto-v27-latin-900.woff') format('woff'),
        url('../assets/fonts/roboto-v27-latin-regular.woff') format('woff'),
        url('../assets/fonts/roboto-v27-latin-regular.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}



header {
    background-color: var(--gray);
    height: 45px;
    box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.25);display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.logo {
    height: 35px;
    align-self: center;
    grid-column: 1 / 2;
    margin-left: 2rem;
}

.git-hub {
    width: 35px;
    align-self: center;
    grid-column: 2 / 3;
    justify-self: end;
    margin-right: 2rem;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*height: 100vh;*/
}

.weather-api {
    /*height: auto;*/
    padding-top: 4rem;
}

.fetch-form {
   display: flex;
   justify-content: center;
}

.fetch-form input {
    width: 200px;
    height: 30px;
    background-color: #F9F0F0;
    border: 2px solid var(--blue-main);
    border-radius: 5px;
    margin: 0 10px;
    color: var(--blue-main);
    font-weight: bold;
}

.fetch-form input::placeholder{
    text-align: center;
    color: var(--turquoise);
}

.fetch-form button {
    width: 70px;
    border: none;
    border-radius: 5px;
    background-color: var(--blue-main);
    color: white;
}

.weather-api--cards {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 3rem;
    width: 150px;
    height: 180px;
    box-shadow: 0px 10px 15px 4px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.card--section-1 {
    background-color: var(--blue-main);
    border-radius: 10px 10px 0px 0px;
    height: 55%;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(5, 1fr);
}

.add-icon {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 20px;
    height: 20px;
    justify-self: center;
    align-self: center;
}

.card--section-1 p {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    color: var(--gray);
    font-size: 1.2rem;
    text-align: center;
    align-self: center;
}

.delete-icon {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    width: 20px;
    justify-self: center;
    align-self: center;
}

.delete-icon:hover{
    cursor: pointer;
}

.weather-image {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    width: 60px;
    justify-self: center;
    align-self: center;
}

.card--section-2{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 1rem;
}

.description {
    text-align: center;
    color: var(--blue-main);
    font-size: 1.2rem;
}

.temperature {
    text-align: center;
    color: var(--blue-main);
    font-size: 1.2rem;
}

.additional-data {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

.min {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: var(--blue-main);
    font-size: 0.9rem;
    justify-self: center;
}

.max {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    color: var(--blue-main);
    font-size: 0.9rem;
    justify-self: center;
}

.wind-speed {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    color: var(--blue-main);
    justify-self: center;
}

.wind-speed img {
    width: 15px;
}

.humidity {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    color: var(--blue-main);
    justify-self: center;
}

.humidity img {
    width: 15px;
}

/*------------------------------------------------------------*/
.additional {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background-color: var(--gray);
    color: var(--turquoise);
}

.data {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    height: 90px;
}

.data p {
    align-self: center;
}

.data img {
    height: 24px;
    width: 24px;
}

.adj {
    display: flex;
    flex-direction: row;
}

.data-lat {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
}

.data-lon {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: center;
}

.data-feel {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
}

.data-press {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: center;
}

.ok-button {
    height: 40px;
    /*height: auto;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
